/*
 * layout/containers
 */
body, #top {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container-row,
.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-container,
.grid-col,
.container-inner_col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media (max-width: 575px) and (min-width: 576px) {
  .main {
    margin: 0;
    padding: 0 15px;
  }
  .container-row {
    max-width: 960px;
    margin: 0 20px;
    padding: 40px 0;
  }
  .container-inner_col {
    max-width: 960px;
    margin: 0 20px;
    padding: 0 20px;
  }
  .full-width {
    max-width: 960px;
    margin: 0;
    padding: 20px 0;
  }
  .full-width-inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  .grid-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .grid-row {
    width: 100%;
    max-width: 960px;
    margin: 0 20px;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .main {
    padding: 0;
  }
  .container-row {
    max-width: 1180px;
    margin: 0 auto;
    padding: 40px 0;
  }
  .container-inner_col {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .full-width {
    margin: 40px 0;
    padding: 20px 0;
  }
  .full-width-inner {
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
  }
  .grid-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .grid-row {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

/* @media (min-width: 992px) */
/* @media (min-width: 1200px) */
.call-out_lt-grey {
  background-color: #f4f4f4;
}

.call-out_alt-grey {
  background-color: #e4e4e4;
}

.call-out_grey {
  background-color: #b5aeae;
}

.pad {
  padding: 15px 20px;
}
