/*
 * title: Design Standard | Guide
 * author: The Agency @ UHS, inc.
 * version: beta
 * description: styles for diplaying and testing
 */
.header-container {
  background-color: aqua;
}

.footer-container {
  background-color: aqua;
}

@media (min-width: 980px) {
  .list-item {
    border-bottom: 1px solid #E5E9EC;
  }
}

@media (min-width: 768px) {
  .list-item {
    border-bottom: 1px solid #E5E9EC;
  }
}

@media (max-width: 767px) {
  .list-item {
    border-bottom: 1px solid #E5E9EC;
  }
}
