/*
 * title: Design Standard
 * author: The Agency @ UHS, inc.
 * version: beta
 * description: Principles and Scope here
 */
/*
 * base/reset
 */
/*
 * base/typography
 */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 0.625rem;
}

p {
  margin-bottom: 10px;
}

.indentation-1x {
  margin: 0 1.25rem;
}

/*
 * layout/containers
 */
body, #top {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container-row,
.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-container,
.grid-col,
.container-inner_col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media (max-width: 575px) and (min-width: 576px) {
  .main {
    margin: 0;
    padding: 0 15px;
  }
  .container-row {
    max-width: 960px;
    margin: 0 20px;
    padding: 40px 0;
  }
  .container-inner_col {
    max-width: 960px;
    margin: 0 20px;
    padding: 0 20px;
  }
  .full-width {
    max-width: 960px;
    margin: 0;
    padding: 20px 0;
  }
  .full-width-inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  .grid-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .grid-row {
    width: 100%;
    max-width: 960px;
    margin: 0 20px;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .main {
    padding: 0;
  }
  .container-row {
    max-width: 1180px;
    margin: 0 auto;
    padding: 40px 0;
  }
  .container-inner_col {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .full-width {
    margin: 40px 0;
    padding: 20px 0;
  }
  .full-width-inner {
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
  }
  .grid-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .grid-row {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

/* @media (min-width: 992px) */
/* @media (min-width: 1200px) {} */
.call-out_lt-grey {
  background-color: #f4f4f4;
}

.call-out_alt-grey {
  background-color: #e4e4e4;
}

.call-out_grey {
  background-color: #b5aeae;
}

.pad {
  padding: 15px 20px;
}

/* @media (max-width: 575px)  */
/* @media (min-width: 576px)  */
/* @media (min-width: 768px)  */
/* @media (min-width: 992px)  */
/* @media (min-width: 1200px) */
.grid-1-1,
.grid-2-2,
.grid-3-3,
.grid-4-4,
.grid-5-5,
.grid-6-6,
.grid-7-7,
.grid-8-8,
.grid-9-9,
.grid-10-10,
.grid-11-11,
.grid-12-12 {
  width: 100%;
}

.grid-11-12 {
  width: 91.666%;
}

.grid-10-11 {
  width: 90.909%;
}

.grid-9-10 {
  width: 90%;
}

.grid-8-9 {
  width: 88.888%;
}

.grid-7-8 {
  width: 87.5%;
}

.grid-6-7 {
  width: 85.714%;
}

.grid-5-6,
.grid-10-12 {
  width: 83.333%;
}

.grid-9-11 {
  width: 81.818%;
}

.grid-4-5,
.grid-8-10 {
  width: 80%;
}

.grid-7-9 {
  width: 77.777%;
}

.grid-3-4,
.grid-6-8,
.grid-9-12 {
  width: 75%;
}

.grid-8-11 {
  width: 72.727%;
}

.grid-5-7 {
  width: 71.428%;
}

.grid-7-10 {
  width: 70%;
}

.grid-2-3,
.grid-4-6,
.grid-6-9,
.grid-8-12 {
  width: 66.666%;
}

.grid-7-11 {
  width: 63.636%;
}

.grid-5-8 {
  width: 62.5%;
}

.grid-3-5,
.grid-6-10 {
  width: 60%;
}

.grid-7-12 {
  width: 58.333%;
}

.grid-4-7 {
  width: 57.142%;
}

.grid-5-9 {
  width: 55.555%;
}

.grid-6-11 {
  width: 54.545%;
}

.grid-1-2,
.grid-2-4,
.grid-3-6,
.grid-4-8,
.grid-5-10,
.grid-6-12 {
  width: 50%;
}

.grid-5-11 {
  width: 45.454%;
}

.grid-4-9 {
  width: 44.444%;
}

.grid-3-7 {
  width: 42.857%;
}

.grid-5-12 {
  width: 41.666%;
}

.grid-2-5,
.grid-4-10 {
  width: 40%;
}

.grid-3-8 {
  width: 37.5%;
}

.grid-4-11 {
  width: 36.363%;
}

.grid-1-3,
.grid-2-6,
.grid-3-9,
.grid-4-12 {
  width: 33.333%;
}

.grid-3-10 {
  width: 30%;
}

.grid-2-7 {
  width: 28.571%;
}

.grid-3-11 {
  width: 27.272%;
}

.grid-1-4,
.grid-2-8,
.grid-3-12 {
  width: 25%;
}

.grid-2-9 {
  width: 22.222%;
}

.grid-1-5,
.grid-2-10 {
  width: 20%;
}

.grid-2-11 {
  width: 18.181%;
}

.grid-1-6,
.grid-2-12 {
  width: 16.666%;
}

.grid-1-7 {
  width: 14.285%;
}

.grid-1-8 {
  width: 12.5%;
}

.grid-1-9 {
  width: 11.111%;
}

.grid-1-10 {
  width: 10%;
}

.grid-1-11 {
  width: 9.090%;
}

.grid-1-12 {
  width: 8.333%;
}

/*
 * utils/variables
 */
